In [13]:
import pandas as pd

In [14]:
boone_df = pd.read_csv("boone_clean.csv")
boone_df

,Unnamed: 0,Datetime,AirTemp,DewPoint,WindDir,WindSpd,SkyCond,Precip1Hr
0,0,2010-01-01 00:00:00+00:00,7.0,5.0,270.0,2.6,8.0,NaN
1,1,2010-01-01 01:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN
2,2,2010-01-01 02:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN
3,3,2010-01-01 04:00:00+00:00,4.0,2.0,290.0,7.7,8.0,NaN
4,4,2010-01-01 05:00:00+00:00,4.0,2.0,280.0,7.7,8.0,NaN
...,...,...,...,...,...,...,...,...
85952,85952,2020-12-31 19:00:00+00:00,14.0,6.5,300.0,5.1,NaN,NaN
85953,85953,2020-12-31 20:00:00+00:00,12.8,6.7,300.0,3.1,NaN,NaN
85954,85954,2020-12-31 21:00:00+00:00,13.0,6.6,0.0,0.0,NaN,NaN
85955,85955,2020-12-31 22:00:00+00:00,12.5,6.4,0.0,0.0,NaN,NaN
85956,85956,2020-12-31 23:00:00+00:00,8.8,5.8,0.0,0.0,NaN,NaN

In [15]:
boone_df["month"] = pd.to_datetime(boone_df["Datetime"]).dt.month
boone_df["day"] = pd.to_datetime(boone_df["Datetime"]).dt.day
boone_df["hour"] = pd.to_datetime(boone_df["Datetime"]).dt.hour
boone_df

,Unnamed: 0,Datetime,AirTemp,DewPoint,WindDir,WindSpd,SkyCond,Precip1Hr,month,day,hour
0,0,2010-01-01 00:00:00+00:00,7.0,5.0,270.0,2.6,8.0,NaN,1,1,0
1,1,2010-01-01 01:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN,1,1,1
2,2,2010-01-01 02:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN,1,1,2
3,3,2010-01-01 04:00:00+00:00,4.0,2.0,290.0,7.7,8.0,NaN,1,1,4
4,4,2010-01-01 05:00:00+00:00,4.0,2.0,280.0,7.7,8.0,NaN,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...
85952,85952,2020-12-31 19:00:00+00:00,14.0,6.5,300.0,5.1,NaN,NaN,12,31,19
85953,85953,2020-12-31 20:00:00+00:00,12.8,6.7,300.0,3.1,NaN,NaN,12,31,20
85954,85954,2020-12-31 21:00:00+00:00,13.0,6.6,0.0,0.0,NaN,NaN,12,31,21
85955,85955,2020-12-31 22:00:00+00:00,12.5,6.4,0.0,0.0,NaN,NaN,12,31,22
85956,85956,2020-12-31 23:00:00+00:00,8.8,5.8,0.0,0.0,NaN,NaN,12,31,23

In [16]:
test = boone_df[
    (boone_df["month"] == 1) & (boone_df["day"] == 1) & (boone_df["hour"] == 0)
]
test

,Unnamed: 0,Datetime,AirTemp,DewPoint,WindDir,WindSpd,SkyCond,Precip1Hr,month,day,hour
0,0,2010-01-01 00:00:00+00:00,7.0,5.0,270.0,2.6,8.0,NaN,1,1,0
8341,8341,2012-01-01 00:00:00+00:00,5.0,0.0,260.0,1.5,0.0,NaN,1,1,0
16916,16916,2013-01-01 00:00:00+00:00,3.0,-15.0,280.0,4.1,0.0,NaN,1,1,0

In [17]:
mean_df = boone_df.groupby(["month", "day", "hour"]).agg(
    {
        "AirTemp": "mean",
        "DewPoint": "mean",
        "WindDir": "mean",
        "WindSpd": "mean",
        "SkyCond": "mean",
        "Precip1Hr": "mean",
    }
)

In [18]:
mean_df.to_csv("mean.csv")